:root {
  --post-border: #c5c6c7;
  --text: #124e66;
  --primary: #45a29e;
  --username: red;
  --third: #002130;
  --secondary: #1f2833;
  --background: #0b0c10;
}

.post {
  background: var(--background);
  border: solid 4px var(--post-border);
  padding: 1.2rem;
  margin: 2rem;
}

.post-title {
  color: var(--primary);
  font-size: 1.5rem;
  text-decoration: underline;
  margin-bottom: 0.7rem;
}

.post-body,
.post-user {
  margin-bottom: 1rem;
}

.post-body {
  color: var(--primary);
}

.post-user {
  color: var(--username);
}

.post-topic {
  text-decoration: underline;
  color: var(--text);
}

.post-timestamp {
  color: var(--text);
  text-align: right;
}
